[submodule "rw_prov/rw_prov_libkernrw/libkernrw"]
	path = rw_prov/rw_prov_libkernrw/libkernrw
	url = https://github.com/ProcursusTeam/libkernrw
[submodule "rw_prov/rw_prov_libkrw/libkrw"]
	path = rw_prov/rw_prov_libkrw/libkrw
	url = git@github.com:und3fined/libkrw.git
